/* These fonts are provided by ROMVoid95 */
/* Link: https://github.com/ROMVoid95/DiscordFonts */

/*   Whitney   */
@font-face {
  font-family: Whitney-300;
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Whitney/Whitney-300.woff) format("woff")
}
@font-face {
  font-family: Whitney-400;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Whitney/Whitney-400.woff) format("woff")
}
@font-face {
  font-family: Whitney-500;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Whitney/Whitney-500.woff) format("woff")
}
@font-face {
  font-family: Whitney-600;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Whitney/Whitney-600.woff) format("woff")
}
@font-face {
  font-family: Whitney-700;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Whitney/Whitney-700.woff) format("woff")
}
/*    Ginto    */
@font-face {
  font-family: Ginto-300;
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Ginto/Ginto-300.woff) format("woff")
}
@font-face {
  font-family: Ginto-400;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Ginto/Ginto-400.woff) format("woff")
}
@font-face {
  font-family: Ginto-500;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Ginto/Ginto-500.woff) format("woff")
}
@font-face {
  font-family: Ginto-600;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Ginto/Ginto-600.woff) format("woff")
}
@font-face {
  font-family: Ginto-700;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Ginto/Ginto-700.woff) format("woff")
}
/* Ginto-Italic */
@font-face {
  font-family: GintoItalic-300;
  font-weight: 300;
  font-style: italic;
  src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Ginto/Ginto-300-italic.woff) format("woff")
}
@font-face {
  font-family: GintoItalic-400;
  font-weight: 400;
  font-style: italic;
  src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Ginto/Ginto-400-italic.woff) format("woff")
}
@font-face {
  font-family: GintoItalic-500;
  font-weight: 500;
  font-style: italic;
  src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Ginto/Ginto-500-italic.woff) format("woff")
}
@font-face {
  font-family: GintoItalic-600;
  font-weight: 600;
  font-style: italic;
  src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Ginto/Ginto-600-italic.woff) format("woff")
}
@font-face {
  font-family: GintoItalic-700;
  font-weight: 700;
  font-style: italic;
  src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Ginto/Ginto-700-italic.woff) format("woff")
}
/* Ginto-Nord */
@font-face {
  font-family: GintoNord-500;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Ginto-Nord/Ginto-Nord-500.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Ginto-Nord/Ginto-Nord-500.woff) format("woff")
}
@font-face {
  font-family: GintoNord-600;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Ginto-Nord/Ginto-Nord-600.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Ginto-Nord/Ginto-Nord-600.woff) format("woff")
}
@font-face {
  font-family: GintoNord-700;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Ginto-Nord/Ginto-Nord-700.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Ginto-Nord/Ginto-Nord-700.woff) format("woff")
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  scroll-behavior: smooth;
}html{
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  scroll-behavior: smooth;
  overflow-x: hidden;
}:root{
  --bgColor: #404EED;
  --blue: #5865F2;
  --lightBlue: #7983F5;
  --white: #FFFFFF;
  --lightGray: #F6F6F6;
  --gray: #36393F;
  --darkGray: #23272A;
}
.landingPage{
  background-image: url('./images/img6.svg');
  background-color: var(--bgColor);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 630px;
}
.heroImage .img1{
  
  position: absolute; left: -350px; top: 278px;
}
/*For 21" monitor */
@media screen and (min-width: 1700px) {
  .heroImage .img1{
    position: absolute; left: -130px; top: 278px;
  }
}
.heroImage .img2{
  position: absolute; right: -300px; top: 270px;
}
/*For 21" monitor */
@media screen and (min-width: 1700px) {
  .heroImage .img2{
    position: absolute; right: -70px; top: 270px;
  }
}
.navigationBar{
  max-width: 78rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1.25rem;
  line-height: 80px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigationBar img{
  height: 70px;
  padding-top: 35px;
}
.navigationBar ul li{
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Whitney-600';
  color: var(--white);
  font-weight: 600;
  font-size: 16px;
}
.navigationBar ul li:hover{
  text-decoration: underline;
}
.btnLogIn{
  text-decoration: none;
  background-color: var(--white);
  font-family: 'Whitney-500';
  color: var(--darkGray);
  font-size: 14px;
  padding: 8px 13px 8px;
  border-color: var(--white);
  border-radius: 50px;
  margin: 10px;
  transition: .4s;

}.btnLogIn:hover{
  color: var(--blue);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.205);
  transition: .4s;

}

.heroImage{
  height: 630px;

}
.heroText{
  padding: 85px 40px;
}
.heroText h3{
  font-family: 'GintoNord-700';
  color: var(--white);
  font-size: 56px;
  text-align: center;
}
.heroText p{
  line-height: 30px;
  font-family: 'Whitney-400';
  color: var(--white);
  font-size: 20px;
  text-align: center;
  margin: 35px 0px 0px;
}

.btnDownload{
  color: var(--darkGray);
  background-color: var(--white);
  padding: 16px 32px;
  border-radius: 50px;
  font-family: 'Whitney-500';
  font-size: 20px;
  font-weight: 500;
  margin: 24px 24px 0px 0px;
  transition: .4s ease;
}
.btnDownload:hover{
  color: var(--blue);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.205);
  transition: .4s ease;
}.btnDownload .fa{
  color: var(--darkGray);
}
.btnOpenDiscordBrowser{
  background-color: var(--darkGray);
  padding: 16px 32px;
  border-radius: 50px;
  color: var(--white);
  font-family: 'Whitney-500';
  font-size: 20px;
  font-weight: 500;
  transition: .4s ease;
}
.btnOpenDiscordBrowser:hover{
  background-color: var(--gray);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.205);
  transition: .4s ease;
}
.containerForBtns{
  margin-top: 50px;
  text-align: center;
  
}.container{
  display: flex;
  padding: 120px 40px;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  
}
.container .Right{
  margin-left: 120px;
}
.container .Left{
  margin-right: 120px;
}
.container .text h1{
  font-family: 'Ginto-700';
  font-size: 48px;
  color: var(--darkGray);
  line-height: 60px;
}
.container .text p{
  font-family: 'Whitney-400';
  font-size: 20px;
  color: var(--gray);
  margin-top: 20px;
  line-height: 30px;
}
.bgColor{
  background-color: var(--lightGray);
}
.textContent2{
  margin: 0px 0px 80px;
}
.textContent1 h1{
  text-align: center;
  font-family: 'GintoNord-700';
  font-size: 40px;
}
.textContent1 p{
  text-align: center;
  font-family: 'Whitney-400';
  color: var(--darkGray);
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 16px;
}.lastContainer{
  padding: 80px 40px;
  background-color: var(--lightGray);
}
.textContent2 h2{
  text-align: center;
  font-family: 'Ginto-700';
  text-align: center;
  font-size: 32px;
  margin: 30px 0px 50px;
}
.textContent2 .btnDownload2{
  color: var(--white);
  background-color: var(--blue);
  padding: 16px 32px;
  border-radius: 50px;
  font-family: 'Whitney-500';
  font-size: 20px;
  font-weight: 500;
  margin: 40px 0px 0px;
  transition: .4s ease;
  
}
.textContent2 .btnDownload2:hover{
  background-color: var(--lightBlue);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.205);
  transition: .4s ease;
}
footer{
  background-color: var(--darkGray);
  
}
footer h1{
  font-family: 'GintoNord-600';
  color: var(--blue);
  font-family: 32px;
  line-height: 30px;
}
footer span{
  color: var(--blue);
}
footer ul li, span{
  color: var(--white);
  font-family: 'Whitney-400';
  font-size: 16px;
  line-height: 30px;
  transition: .4s ease-out;
}
footer ul li:hover{
  transition: .4s ease-in;
  text-decoration: underline;
}
footer ul{
  margin: 0px 0px 40px;
}
.footerContainer1{
  max-width: 72rem;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 60px 0px 10px;
}hr{
  max-width: 72rem;
  display: flex;
  color: var(--blue);
  height: auto;
  margin: 0 auto;
}
.footerLogo{
  max-width: 72rem;
  display: flex;
  justify-content: space-between;
  height: auto;
  margin: 0 auto;
  padding: 50px 0px 50px;
}.footerLogo img{
  height: 35px;
}.footerBtn a{
  background-color: var(--blue);
  color: var(--white);
  font-family: 'Whitney-400';
  font-size: 14px;
  padding: 7px 16px;
  border-radius: 50px;
}.footerBtn a:hover{
  background-color: var(--lightBlue);
}.fa{
  color: white;
  padding: 10px;
}.socialMediaIcons{
  margin: 24px 0px 0px;  
}.lang{
  margin-top: 10px;
  padding: 10px;
  display: flex;
}.lang img{
  height: 25px;
}.lang p{
  color: var(--white);
  font-family: 'Whitney-400';
  padding-left: 5px;
}